.project {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px 50px 100px;
  border-top: 1px solid rgb(201, 201, 201);
  cursor: pointer;
  transition: all 0.2s;

  .project-title {
    transition: all 0.4s;
  }

  .project-category {
    transition: all 0.4s;
  }

  &:last-of-type {
    border-bottom: 1px solid rgb(201, 201, 201);
  }

  &:hover {
    opacity: 0.5;

    .project-title {
      transform: translateX(-10px);
    }

    .project-category {
      transform: translateX(10px);
    }
  }
}

@media screen and (max-width: 767px) {
    .project {
        padding: 30px 10px 30px 10px;
    }

}
@media (min-width: 768px) and (max-width: 1023px) {
    .project {
        padding: 30px 10px 30px 10px;
    }

}
